// カードの個別背景色（index順に指定）
$card-colors: #307CBC, #EE7C1C, #5F9B2C, #E95320,#45B8AC, #FFBC02,#FF4F52, #6f45d1,#E94B3C;

//#FF6F61, #6B5B95, #88B04B, #F7CAC9, #92A8D1, #F7786B, #DECF3F, #45B8AC, #E94B3C;

// ======== 共通設定 ========
$irem: 1rem; // Define $irem variable

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "serif", "Times New Roman", "Hiragino Mincho ProN", "MS PMincho", "Batang", serif;
  background: #fbf7f0;
  display: flex;
  justify-content: center;
  font-feature-settings: "palt";
}

// ======== コンテナ全体 ========
.container {
  position: relative;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  background: #000;
}

.title{
    position: fixed;
    top: 0;
    max-width: 500px; // ← 追加
    width: 100%;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top, #F39E15, #FBEABE);

    img{
        width: 100%;
        max-width: 100%;
        height: auto;
        display: block;
    }
    .title_text{
        height: auto;
    }
    .title_bg{
        position: absolute;
        display: flex;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        justify-content: space-between;
        flex-direction: column;
        z-index: -1;
    }

}

#makoto{
    padding-top: 10px;
    margin-top: 100vh;
}

section{
    transform: translateY(0.5rem);
}

// ======== カードスタイル ========
.card {
  position: sticky;
  top: 0;
  width: 100%;
  max-width: 500px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 1rem;
  color: white;
  border-radius: 60px;
  padding: 1rem;
  img{
    max-width: 100%;
    width: 100%;
    height: auto;
    display: block;
    }
  // 個別背景色設定（数に応じて追加）
  @for $i from 1 through length($card-colors) {
    &:nth-of-type(#{$i}) {
      background: nth($card-colors, $i);
    //transform: translateY(1rem * $i);
    }
    
  }
  &.cover{
    background-image: url(../assets/background.jpg);
    background-size: cover;
  }

  h2 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    text-align: center;
  }

  p {
    font-size: 1rem;
    text-align: center;
    line-height: 1.6;
  }

  img{
    width: 100vw;
  }
}

.comment_card {
  padding: 4rem 0;
  position: sticky;
  top: 0;
  width: 100%;
  max-width: 500px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 1rem;
  color: white;
  border-radius: 60px 60px 0 0;
    background: linear-gradient(to top, #f3a915, #ff6e3a);
}

.couple_section{
  padding: 1rem 2rem;
  width: 100%;
}

.couple_comment{
  display: flex;
  // justify-content: space-between;
  align-items: flex-end;
  margin-top: 1rem;
  gap: 0.5rem;;
  &.interview{
    flex-direction: row;
    p{
      border-radius: 40px 40px 40px 4px;
      color: #000;
      background: #ffd900;
    }
  }
  &.suwa{
    padding-left: 2rem;
    flex-direction: row-reverse;
    p{
      
      border-radius: 40px 40px 4px 40px;
      background: #57230040;
    }
  }
  &.obata{
    padding-left: 2rem;
    flex-direction: row;
    p{
      border-radius: 40px 40px 40px 4px;
      background: #57230060;
    }
  }
  img{
    width: 40px;
    border-radius: 100%;
  }
  p{
    text-align: left;
    letter-spacing: 0.05em;
    line-height: 1.6;
    color: #FFF;
    padding: 1.5rem 1.5rem;
  }

}

.movie{
  background: white;
  padding-bottom: 3rem;
  h2{
    font-size: 3rem;
    text-align: center;
    padding: 3rem 0 2rem 0;
  }
  iframe{
    padding: 2rem 2rem 0 2rem;
    width: 100%;
    border: none;
    margin: 0 auto;
    display: block;
  }
}
.back-to-top{
  width: 100%;
  padding: 2rem 0rem 4rem 0rem;
  text-align: center;
  font-size: 1.3rem;
  letter-spacing: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  a{
    color: #ffffff;
    text-decoration: none;
    padding: 1rem 2rem;
    border-radius: 9999px;
    background: rgb(0, 0, 0);
    transition: background 0.2s;
    &:hover {
      background: rgba(44, 44, 44, 0.8);
    }
  }
}



// ======== 画面下追従ナビゲーション ========
.bottom-nav {
  position: fixed;
  bottom: 0;
  opacity: 1;
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem 1rem;
  z-index: 999;
  transition: all 0.3s cubic-bezier(0.33, 1, 0.68, 1);
  &.hidden {
    transform: translateY(50%);
    opacity: 0;
}

  a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    padding: 0.5rem 2rem;
    text-align: center;
    border-radius: 9999px;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    
    transition: background 0.2s;

    &:hover {
      background: rgba(255, 255, 255, 0.3);
    }

  }
}
