* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "serif", "Times New Roman", "Hiragino Mincho ProN", "MS PMincho", "Batang", serif;
  background: #fbf7f0;
  display: flex;
  justify-content: center;
  font-feature-settings: "palt";
}

.container {
  position: relative;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  background: #000;
}

.title {
  position: fixed;
  top: 0;
  max-width: 500px;
  width: 100%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top, #F39E15, #FBEABE);
}
.title img {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
}
.title .title_text {
  height: auto;
}
.title .title_bg {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  flex-direction: column;
  z-index: -1;
}

#makoto {
  padding-top: 10px;
  margin-top: 100vh;
}

section {
  transform: translateY(0.5rem);
}

.card {
  position: sticky;
  top: 0;
  width: 100%;
  max-width: 500px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 1rem;
  color: white;
  border-radius: 60px;
  padding: 1rem;
}
.card img {
  max-width: 100%;
  width: 100%;
  height: auto;
  display: block;
}
.card:nth-of-type(1) {
  background: #307CBC;
}
.card:nth-of-type(2) {
  background: #EE7C1C;
}
.card:nth-of-type(3) {
  background: #5F9B2C;
}
.card:nth-of-type(4) {
  background: #E95320;
}
.card:nth-of-type(5) {
  background: #45B8AC;
}
.card:nth-of-type(6) {
  background: #FFBC02;
}
.card:nth-of-type(7) {
  background: #FF4F52;
}
.card:nth-of-type(8) {
  background: #6f45d1;
}
.card:nth-of-type(9) {
  background: #E94B3C;
}
.card.cover {
  background-image: url(../assets/background.jpg);
  background-size: cover;
}
.card h2 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  text-align: center;
}
.card p {
  font-size: 1rem;
  text-align: center;
  line-height: 1.6;
}
.card img {
  width: 100vw;
}

.comment_card {
  padding: 4rem 0;
  position: sticky;
  top: 0;
  width: 100%;
  max-width: 500px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 1rem;
  color: white;
  border-radius: 60px 60px 0 0;
  background: linear-gradient(to top, #f3a915, #ff6e3a);
}

.couple_section {
  padding: 1rem 2rem;
  width: 100%;
}

.couple_comment {
  display: flex;
  align-items: flex-end;
  margin-top: 1rem;
  gap: 0.5rem;
}
.couple_comment.interview {
  flex-direction: row;
}
.couple_comment.interview p {
  border-radius: 40px 40px 40px 4px;
  color: #000;
  background: #ffd900;
}
.couple_comment.suwa {
  padding-left: 2rem;
  flex-direction: row-reverse;
}
.couple_comment.suwa p {
  border-radius: 40px 40px 4px 40px;
  background: rgba(87, 35, 0, 0.2509803922);
}
.couple_comment.obata {
  padding-left: 2rem;
  flex-direction: row;
}
.couple_comment.obata p {
  border-radius: 40px 40px 40px 4px;
  background: rgba(87, 35, 0, 0.3764705882);
}
.couple_comment img {
  width: 40px;
  border-radius: 100%;
}
.couple_comment p {
  text-align: left;
  letter-spacing: 0.05em;
  line-height: 1.6;
  color: #FFF;
  padding: 1.5rem 1.5rem;
}

.movie {
  background: white;
  padding-bottom: 3rem;
}
.movie h2 {
  font-size: 3rem;
  text-align: center;
  padding: 3rem 0 2rem 0;
}
.movie iframe {
  padding: 2rem 2rem 0 2rem;
  width: 100%;
  border: none;
  margin: 0 auto;
  display: block;
}

.back-to-top {
  width: 100%;
  padding: 2rem 0rem 4rem 0rem;
  text-align: center;
  font-size: 1.3rem;
  letter-spacing: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.back-to-top a {
  color: #ffffff;
  text-decoration: none;
  padding: 1rem 2rem;
  border-radius: 9999px;
  background: rgb(0, 0, 0);
  transition: background 0.2s;
}
.back-to-top a:hover {
  background: rgba(44, 44, 44, 0.8);
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  opacity: 1;
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem 1rem;
  z-index: 999;
  transition: all 0.3s cubic-bezier(0.33, 1, 0.68, 1);
}
.bottom-nav.hidden {
  transform: translateY(50%);
  opacity: 0;
}
.bottom-nav a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  padding: 0.5rem 2rem;
  text-align: center;
  border-radius: 9999px;
  background: rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  transition: background 0.2s;
}
.bottom-nav a:hover {
  background: rgba(255, 255, 255, 0.3);
}/*# sourceMappingURL=style.css.map */